@import url("https://fonts.googleapis.com/css2?family=Commissioner&display=swap");
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  color: #1b1b32;
  font-family: "Commissioner", sans-serif;
  margin: 0;
}

header {
  width: 100%;
  height: 50px;
  background-color: #1d4645;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
}

h1 {
  color: #fff2e6;
  font-size: min(5vw, 1.2em);
  text-align: center;
}

nav {
  width: 50%;
  max-width: 300px;
  height: 50px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  color: #dfdfe2;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}

nav > ul > li:hover {
  background-color: #dfdfe2;
  color: #1b1b32;
  cursor: pointer;
}

li > a {
  color: inherit;
  text-decoration: none;
}

main {
  padding-top: 50px;
}

section {
  width: 80%;
  margin: 0 auto 10px auto;
  max-width: 600px;
}

h1,
h2 {
  font-family: Verdana, Tahoma;
}

h2 {
  border-bottom: 3px solid #F1D7C8;
  margin-top: 0px;
  padding-top: 30px;
    font-weight: 500;
font-size: 25px;
line-height: 31px;
color: #000000;
}
#css-questions{
    padding-top: 15px;
}

.info {
  padding: 10px 0 0 5px;
}

.formrow {
  margin-top: 30px;
  padding: 0px 15px;
}

input {
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: 4px;
}

.info label,
.info input {
  display: inline-block;
  text-align: right;
}

.info input,select {
  width: 50%;
  text-align: left;
  background: #FFFFFF;
border: 1px solid #DADADA;
border-radius: 4px;
font-size: small;
padding:9px;

}

.info label {
  width: 10%;
  min-width: 55px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  padding-right: 5px;
  color: #131b42;
}

.question-block {
  text-align: left;
  display: block;
  width: 100%;
  margin-top: 20px;
  padding-top: 5px;
}

p {
  margin-top: 5px;
  padding-left: 15px;
  font-size: 20px;
}

p::before {
  content: "Question #";
}

.question {
  border: none;
  padding-bottom: 0;
}
textarea{
border: 1px solid #DADADA;
border-radius: 4px;
padding:10px;
}
.answers-list {
  list-style: none;
  padding: 0;
}

button {
  display: block;
  margin: 40px auto;
  padding: 15px;
  border: none;
  width: 170px;
  background: #1d4645;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #1d4645;
}
button:hover {
  background: white;
  color: #1d4645;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
footer{
    text-align: center;
}
